
#contenantscenario{
    width:50vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#rappel{
    width:30vw;
    background-color: var(--normal);
    display:flex;
    align-items:center;
    justify-content:center;
}
#boutonscenar{
    background-color: var(--normal);
    border-radius:500%;
    max-width:70px;
    height:70px;
    border:none;

}
.iconescenar{
    max-width:60%;
}
.textemodal{
    color:white;
    text-align:justify;

}






